@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background: #161515;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b1515;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 30, 0.4);
    font-size: x-large;
    z-index: 999;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: x-large;
    margin-left: auto;
}

header nav ul li a {
    text-decoration: none;
    color: #eee3e3;
    font-weight: 600;
}

header nav ul li a:hover {
    color: #a52525;
    background: #272626;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

header #logo, #cardapio, #contato, #sobre {
    color: #f4f4f4;
}

#bannerHome,
#bannerCardapio,
#bannerContato,
#bannerSobre {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#bannerHome {
    background-image: url('/CP2-FrontEndDesign/src/assets/imgs/bannerHome.png');
    position: relative;
}

#bannerCardapio {
    background-image: url('/CP2-FrontEndDesign/src/assets/imgs/bannerCardapio.png');
}

#bannerContato {
    background-image: url('/CP2-FrontEndDesign/src/assets/imgs/bannerContato.png');
}

#bannerSobre {
    background-image: url('/CP2-FrontEndDesign/src/assets/imgs/bannerSobre.png');
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
}
.sobre-content {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.contato-content {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.card {
    background-color: #1b1515;
    color: #eee3e3;
    padding: 50px 60px;
    border-radius: 20px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.95;
}
.card_dois{
    background-color: #1b1515;
    color: #eee3e3;
    padding: 50px 60px;
    border-radius: 20px;
    width: 350px;
    max-width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.95;
}
.card_outro {
    background-color: #1b1515;
    color: #eee3e3;
    padding: 50px 60px;
    border-radius: 20px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.95;
}

.card h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.card p {
    font-size: 22px;
    line-height: 1.5;
}

footer {
    color: #a59a9a;
    padding: 20px;
    text-align: center;
    z-index: 7;
    position: relative;
}

aside{
    width: 60px;
    background-color: rgba(44, 2, 2, 0.7);
    color: white;
    height: 100vh;
    padding: 2rem;
    position: absolute;
    z-index: 5;
    overflow-y: auto;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    top: 80px;
    left: 0;
    align-items: left;
    text-align: left;
    transition: width 0.3s ease;
    overflow-x: hidden;
}

aside:hover{
    width: 280px;
}

aside ul{
    padding-left: 0;
}

aside h2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    font-size: 1.5rem;
}

aside:hover h2{
    opacity: 0;
    transition: opacity 0.1s ease;
    white-space: nowrap;
}

aside h1{
    font-size: 1.5rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

aside h3{
    font-size: 1.5rem;
    pointer-events: none;
    margin-top: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

aside hr{
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
}

aside li{
    margin-bottom: 10px;
}

aside a{
    color: white;
    pointer-events: none;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

aside:hover a,
aside:hover h1,
aside:hover h3,
aside:hover hr{
    pointer-events: auto;
    opacity: 1;
}

aside a:hover{
    color: rgb(119, 20, 20);
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.imgContent {
    display: flex; /* Em vez de grid */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
}
.imgContent .card {
    width: 250px; /* Reduz o tamanho do card */
    padding: 1rem;
}

.imgContent .card img {
    width: 100%;
    height: 150px; /* Ajuste conforme necessário */
    object-fit: cover;
    border-radius: 10px;
}
